{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1>GERENCIAR LOJA</h1>

    <p>Faturamento: {{ faturamento }}</p>
    <p>Produtos Vendidos: {{ qtde_produtos }}</p>
    <p>Total Pedidos: {{ qtde_pedidos }}</p>
    <hr>
    <h3>Exportar Relatórios</h3>
    <a href="{% url 'exportar_relatorio' 'pedido' %}">Exportar Pedidos</a>
    <a href="{% url 'exportar_relatorio' 'cliente' %}">Exportar Clientes</a>
    <a href="{% url 'exportar_relatorio' 'endereco' %}">Exportar Endereços</a>
{% endblock %}