{% extends 'base.html' %}
{% load static %}

{% block body %}
<main class="principal">
      <section class="conta">
          <div class="conta__container">
              <div class="checkout__titulos">
                <p class="checkout__titulo">Adicione um novo endereço</p>
              </div>

              <form
                class="conta__form"
                action="{% url 'adicionar_endereco' %}"
                method="post"
              >
                  {% csrf_token %}
                  <div class="conta__item">
                      <label for="cidade">Cidade</label>
                      <input type="text" name="cidade" placeholder="Cidade"/>
                  </div>

                  <div class="conta__item">
                      <label for="estado">Estado</label>
                      <input type="text" name="estado" placeholder="Estado"/>
                  </div>

                  <div class="conta__item">
                      <label for="rua">Rua</label>
                      <input type="text" name="rua" placeholder="Rua"/>
                  </div>

                  <div class="conta__item">
                      <label for="numero">Número</label>
                      <input type="number" name="numero" placeholder="Número"/>
                  </div>

                  <div class="conta__item">
                      <label for="estado">Complemento</label>
                      <input type="text" name="complemento" placeholder="Complemento"/>
                  </div>

                  <div class="conta__item">
                      <label for="cep">CEP</label>
                      <input type="number" name="cep" placeholder="Cep"/>
                  </div>

                  <button class="subtotal__botao" type="submit">
                      Adicionar endereço
                  </button>
              </form>
              <a href="{% url 'checkout' %}">Retornar para a compra</a>
          </div>
      </section>
</main>
{% endblock %}