{% extends 'base.html' %}
{% load static %}
{% load l10n %}

{% block body %}
    <h1>LOJA</h1>

    <form method="POST" action="">
        <p>Preço</p>
        <input type="number" name="preco_minimo" value= {% localize off %}{{ minimo }}{% endlocalize %}>
        <input type="number" name="preco_maximo" value={% localize off %}{{ maximo }}{% endlocalize %}>

        <p>Tamanho</p>
        {% for tamanho in tamanhos %}
            <input type="radio" name="tamanho" value="{{ tamanho }}">
            <label for="{{ tamanho }}">{{ tamanho }}</label>
        {% endfor %}

        <p>Categoria</p>
        {% for categoria in categorias %}
            <input type="radio" name="categoria" value="{{ categoria.slug }}">
            <label for="{{ categoria.slug }}">{{ categoria.nome }}</label>
        {% endfor %}

        <p>Tipo</p>
        {% for tipo in tipos %}
            <input type="radio" name="tipo" value="{{ tipo.slug }}">
            <label for="{{ tipo.slug }}">{{ tipo.nome }}</label>
        {% endfor %}

        <button type="submit">Aplicar filtros</button>
    </form>

    {% for produto in produtos %}
        <a href="{% url 'ver_produto' produto.id %}">
            <img src="{{ produto.imagem.url }}" width="300" height="450">
        </a>
        <p>{{ produto.nome }}</p>
        <p>{{ produto.preco }}</p>
    {% endfor %}

{% endblock %}