{% load static %}
<footer class="rodape">
      <section class="rodape__secao-formulario">
        <div class="rodape__app-newsletter">
          <div class="rodape__container-newsletter">
            <div class="rodape__newsletter">
              <p class="rodape__texto-newsletter">Assine nossa newsletter</p>
              <p class="rodape__texto">
                Cadastre-se e receba promoções exclusivas e saiba tudo antes de
                todo mundo!
              </p>
            </div>

            <form class="formulario" action="">
              <input
                class="formulario__input"
                type="email"
                name="email"
                placeholder="Digite seu e-mail"
              />
              <input
                class="formulario__input"
                type="text"
                name="name"
                placeholder="Digite seu nome"
              />
              <button class="formulario__botao" type="submit">Cadastrar</button>
            </form>
          </div>

          <div class="rodape__container-app">
            <div class="rodape__app">
              <p class="rodape__texto-newsletter">Baixe o app</p>
              <p class="rodape__texto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>

            <div class="rodape__app">
              <a
                href="#"
                ><img
                  class="rodape__imagens-loja"
                  src="https://lojausereserva.vtexassets.com/arquivos/playstorex2.png"
                  alt="Imagem Play Store"
              /></a>
              <a href="#"
                ><img
                  class="rodape__imagens-loja"
                  src="https://lojausereserva.vtexassets.com/arquivos/appstorex2.png"
                  alt="Imagem App Store"
              /></a>
            </div>
          </div>
        </div>
      </section>

      <section class="rodape__secao-informacoes">
        <div class="rodape__container">
          <div class="rodape__informacoes">
            <div class="rodape__informacao">
              <p class="rodape__titulo">Lorem ipsum</p>

              <ul class="rodape__links">
                <li><a href="#">1P=5P</a></li>
                <li>
                  <a href="#">Cultora</a>
                </li>
                <li>
                  <a href="#"
                    >Sustentabilidade</a
                  >
                </li>
                <li>
                  <a href="#">Quem faz</a>
                </li>
                <li>
                  <a href="#"
                    >Mapa de Categorias</a
                  >
                </li>
              </ul>
            </div>

            <div class="rodape__informacao">
              <p class="rodape__titulo">Lorem ipsum</p>

              <ul class="rodape__links">
                <li>
                  <a href="#"
                    >Seja um Franqueado</a
                  >
                </li>
                <li>
                  <a href="#">Nossas Lojas</a>
                </li>
                <li>
                  <a href="#"
                    >Trabalhe Conosco</a
                  >
                </li>
              </ul>
            </div>

            <div class="rodape__informacao">
              <p class="rodape__titulo">Minha Conta</p>

              <ul class="rodape__links">
                <li>
                  <a href="#"
                    >Favoritos</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Meus Pedidos</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Minha Carteira</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Meu Cartão Presente</a
                  >
                </li>
              </ul>
            </div>

            <div class="rodape__informacao">
              <p class="rodape__titulo">Suporte</p>

              <ul class="rodape__links">
                <li>
                  <a href="#"
                    >Política de Privacidade</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Termos de Uso</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Dúvidas Frequentes</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Compromisso Best Friday</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    >Regulamento ação 1 ano de Reserva</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Troca e Devolução</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="rodape__atendimento">
            <p class="rodape__titulo">Atendimento</p>

            <div class="rodape__ancoras">
              <a class="rodape__ancora-icone" href="#"
                ><img
                  loading="lazy"
                  crossorigin="anonymous"
                  class="rodape__icone"
                  data-src="https://lojausereserva.vtexassets.com/assets/vtex.file-manager-graphql/images/9c4ad5b9-1b4d-4f4d-afce-fc05e3ee3b36___aac616c1eff051d87cbbe7d7ea6090db.svg"
                  src="https://lojausereserva.vtexassets.com/assets/vtex.file-manager-graphql/images/9c4ad5b9-1b4d-4f4d-afce-fc05e3ee3b36___aac616c1eff051d87cbbe7d7ea6090db.svg"
                />
                Atendimento em libras
              </a>

              <div class="rodape__whatsapp">
                <a class="rodape__ancora-icone" href="#">
                  <img
                    loading="lazy"
                    crossorigin="anonymous"
                    class="rodape__icone"
                    data-src="https://lojausereserva.vtexassets.com/assets/vtex.file-manager-graphql/images/d20346db-d162-4873-8518-b8548620acf6___07a0cb802e61ce015e6477828969ca35.svg"
                    src="https://lojausereserva.vtexassets.com/assets/vtex.file-manager-graphql/images/d20346db-d162-4873-8518-b8548620acf6___07a0cb802e61ce015e6477828969ca35.svg"
                  />
                  WhatsApp Reserva
                </a>

                <p class="rodape__horarios">
                  Segunda a Sexta: 08h às 20h<br />Sábados: 08h às 18h
                </p>
              </div>

              <a
                class="rodape__ancora-icone"
                href="#"
              >
                <img
                  loading="lazy"
                  crossorigin="anonymous"
                  class="rodape__icone"
                  data-src="https://lojausereserva.vtexassets.com/assets/vtex.file-manager-graphql/images/c9f66e16-18fc-47e7-80d2-8285e4945aab___02415dfe7c43260a39980d26a4a3f438.svg"
                  src="https://lojausereserva.vtexassets.com/assets/vtex.file-manager-graphql/images/c9f66e16-18fc-47e7-80d2-8285e4945aab___02415dfe7c43260a39980d26a4a3f438.svg"
                />
                Solicite sua troca
              </a>
            </div>

            <div class="rodape__redes">
              <a href="#" class="rodape__rede">
                <img
                  src="https://lojausereserva.vtexassets.com/arquivos/fbx1.png"
                  alt="Logo Facebook"
                />
              </a>
              <a href="#" class="rodape__rede">
                <img
                  src="https://lojausereserva.vtexassets.com/arquivos/insx1.png"
                  alt="Logo Instagram"
                />
              </a>
              <a
                href="#"
                class="rodape__rede"
              >
                <img
                  src="https://lojausereserva.vtexassets.com/arquivos/ytx1.png"
                  alt="Logo YouTube"
                />
              </a>
              <a href="#" class="rodape__rede">
                <img
                  src="https://lojausereserva.vtexassets.com/arquivos/twx1.png"
                  alt="Logo Twitter"
                />
              </a>
              <a
                href="#"
                class="rodape__rede"
              >
                <img
                  src="https://lojausereserva.vtexassets.com/arquivos/linx1.png"
                  alt="Logo LinkedIn"
                />
              </a>
            </div>
          </div>
        </div>

        <div class="rodape__container">
          <div class="rodape__diferenciais">
            <div class="rodape__diferencial">
              <img
                src="https://lojausereserva.vtexassets.com/arquivos/entr3x.png"
                alt="Imagem Diferencial"
                class="rodape__diferencial-imagem"
              />
              <p class="rodape__diferencial-titulo">Entrega Internacional</p>
              <p>Entrega para mais de 40 países de forma rápida e segura.</p>
            </div>

            <div class="rodape__diferencial">
              <img
                src="https://lojausereserva.vtexassets.com/arquivos/1p5px2.png"
                alt="Imagem Diferencial"
                class="rodape__diferencial-imagem"
              />
              <p class="rodape__diferencial-titulo">1P=5P</p>
              <p>
                A cada peça vendida, 5 pratos de comida são viabilizados para
                quem tem fome.
              </p>
            </div>

            <div class="rodape__diferencial">
              <img
                src="https://lojausereserva.vtexassets.com/arquivos/trocax2.png"
                alt="Imagem Diferencial"
                class="rodape__diferencial-imagem"
              />
              <p class="rodape__diferencial-titulo">Troca Facilitada</p>
              <p>
                Compre no site ou app e troque em uma das lojas em até 7 dias.
              </p>
            </div>
          </div>
        </div>

        <div class="rodape__container">
          <div class="rodape__certificacoes">
            <div class="rodape__certificacao">
              <p class="rodape__certificacao-titulo">Somos com Orgulho</p>

              <div class="rodape__certificados">
                <div class="rodape__certificado">
                  <img
                    src="https://lojausereserva.vtexassets.com/arquivos/empb2x.png"
                    alt="Imagem Certificado"
                  />
                </div>
                <div class="rodape__certificado">
                  <img
                    src="https://lojausereserva.vtexassets.com/arquivos/capit2x.png"
                    alt="Imagem Certificado"
                  />
                </div>
              </div>
            </div>

            <div class="rodape__certificacao">
              <p class="rodape__certificacao-titulo">Certificações</p>

              <div class="rodape__certificados">
                <div class="rodape__certificado">
                  <img
                    src="https://lojausereserva.vtexassets.com/arquivos/letse2x.png"
                    alt="Imagem Certificado"
                  />
                </div>
                <div class="rodape__certificado">
                  <img
                    src="https://lojausereserva.vtexassets.com/arquivos/ebit2x.png"
                    alt="Imagem Certificado"
                  />
                </div>
                <div class="rodape__certificado">
                  <img
                    src="https://lojausereserva.vtexassets.com/arquivos/recla2x.png"
                    alt="Imagem Certificado"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="rodape__secao-empresa">
        <p>
          PROJETO ECOMMERCE
        </p>
      </section>
    </footer>