{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1>Preencha seus dados para criar uma conta</h1>

    {{ erro }}
    <form method="POST" action="{% url 'criar_conta' %}">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="senha" placeholder="Senha">
        <input type="password" name="confirmacao_senha" placeholder="Confirmação da senha">
        <button type="submit">Criar conta</button>
    </form>

    <a href="{% url 'fazer_login' %}">Já tem uma conta? Fazer login</a>
{% endblock %}