{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1>Preencha seus dados para criar uma conta</h1>

    {% if erro == 'preenchimento' %}
        <p>Preencha todas as informações do formulário corretamente para criar uma conta</p>
    {% endif %}

    {% if erro == 'email_invalido' %}
        <p>E-mail inválido</p>
    {% endif %}

    {% if erro == 'usuario_existente' %}
        <p>Já exite um usuário com esse e-mail. <a href="{% url 'fazer_login' %}">Faça login</a></p>
    {% endif %}

    {% if erro == 'senhas_diferentes' %}
        <p>Senha e confimação de senha não são iguais. Tente novamente.</p>
    {% endif %}



    <form method="POST" action="{% url 'criar_conta' %}">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="senha" placeholder="Senha">
        <input type="password" name="confirmacao_senha" placeholder="Confirmação da senha">
        <button type="submit">Criar conta</button>
    </form>

    <a href="{% url 'fazer_login' %}">Já tem uma conta? Fazer login</a>
{% endblock %}